<head>
</head>

<body>
  {% load staticfiles %}
  {% include "story_site/topmenu.html" %}
  <form action="/story_site/authenticate/" method="POST">
    {% csrf_token %}
    <table class="login_table">
      <tr>
	<td>Username:</td>
	<td><input type="text" name="username_input"></td>
      </tr>
      <tr>
	<td>Password:</td>
	<td><input type="password" name="password_input"></td>
      </tr>
      <tr>
	<td><input type="submit" value="Login"> </td>
      </tr>
      
    </table>
  </form>
</body>
