<div class="topMenu">
  <ul>
    <li><a href = "{% url 'index' %}">Home</a></li>
    {% if user.is_authenticated %}
    <li><a href = "{% url 'user_page' %}"> {{ user.get_username }}'s Home Page </a> </li>
    <li><a href = "{% url 'compilation_page' %}"> Compile Stories </a> </li>
    <li><a href = "{% url 'logout_page' %}">Logout</a></li>
    {% else %}
    <li><a href = "{% url 'login_page' %}">Sign in</a></li>
    <li><a href = "{% url 'register_page' %}">Register</a></li>
    {% endif %}
  </ul>
</div>
