<head>
</head>

<body>
  {% load staticfiles %}
  {% include "story_site/topmenu.html" %}

  <div class="upload_form">
    <form  enctype="multipart/form-data" action="/story_site/upload/" method="POST">
      {% csrf_token %}

      <table class="file_upload_table">
	{{ form.as_table }}
      </table>
      <input type="submit">
    </form>
  </div>

  <div class="owned_audio_list">
    {% if allAudio %}

    {% for audioFile in allAudio %}

    <table class="owned_audio_table">
      <tr>
	<td> Title: </td>
	<td> {{ audioFile.title }} </td>
      </tr>

      <tr>
	<td> Description: </td>
	<td> {{ audioFile.description }} </td>
      </tr>

      <tr>
	<td> Download: </td>
	<td> <a href = "{{ audioFile.webPath }}"> {{ audioFile.title }} </td>
    </table>
    <br><br>

    {% endfor %}

    {% else %}

    
    {% endif %}
  </div>

</body>
