<head>
  {% include "story_site/includes.html" %}
</head>

<body>
  {% load staticfiles %}
  {% include "story_site/topmenu.html" %}

  <!-- <div class="upload_form"> -->
  <!--   <form  enctype="multipart/form-data" action="/story_site/upload/" method="POST"> -->
  <!--     {% csrf_token %} -->

  <!--     <table class="file_upload_table"> -->
  <!-- 	{{ form.as_table }} -->
  <!--     </table> -->
  <!--     <input type="submit"> -->
  <!--   </form> -->
  <!-- </div> -->

  <div class="main">

    {% include "story_site/user_menu.html" %}

    {% ifequal kind "profile" %}
    // TODO
    {% endifequal %} 

    {% ifequal kind "compilation" %}
    {% include "story_site/previous_compilations.html" %}
    {% endifequal %}

    {% ifequal kind "story" %}
    {% include "story_site/owned_audio_list.html" %}
    {% endifequal %}
    
  </div>

</body>
